.calendar-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--body_background);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: var(--body_color);
}

.calendar-buttons {
  display: flex;
  align-items: center;
  justify-content: start;
}

.small-button {
  padding: 6px 10px;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  width: 70px;
}

.calendar-month,
.calendar-year {
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.event-item {
  cursor: pointer;
}

.event-item:hover {
  background-color: #7fd2f3;
}

.empty-spot-item {
  cursor: pointer;
}

.empty-spot-item:hover {
  background-color: #ececec;
}

.day-link,
.week-link {
  cursor: pointer;
}

.day-link:hover,
.week-link:hover {
  text-decoration: underline;
}
