.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: var(--body_background);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 350px;
  cursor: pointer;
  margin-bottom: 8px;
  margin-top: 4px;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px var(--button_color);
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--button_color);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.date {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--body_color);
}

.month {
  font-size: 1rem;
  color: var(--body_color);
}

.details-container {
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  color: var(--body_color);
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--body_color);
  margin-bottom: 0.5rem;
}

.location {
  font-size: 0.875rem;
  color: #666;
}

.event-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.event-info i {
  font-size: 1rem;
  margin-right: 0.25rem;
  color: #999;
}

.organizer {
  font-size: 0.875rem;
  font-weight: bold;
  color: #333;
}

@media (min-width: 768px) {
  .event-card {
    flex-direction: row;
    max-width: none;
    width: auto;
  }

  .date-container {
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }

  .details-container {
    padding: 1rem;
    text-align: left;
  }
}
