:root {
  --body_background: rgb(255, 255, 255);
  --body_color: black;
  --button_color: #30bc92;
  --button_hover: #97dec8;
  --event_long: #198b69;
}

[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: rgb(255, 255, 255);
  --button_color: #8063c1;
  --button_hover: #c1b0e0;
  --event_long: #4e377f;
}

/* * {
    transition: all 0.2s ease-in-out;
} */

.pointer-cursor {
  cursor: pointer;
}
